/* 
#0b2b40 
#1e5959
#3b8c6e
*/

:root{
    --cor1: #02070a;
    --cor2: #061622;
    --cor3: #040f18;
    --cor5: #0e171e;
    --cor6: #6CED0C; 
    --cor6-2: 255, 212, 59;
    --shadow: 0px 0px 40px 2px #0290ee1c;
    --fontedestaques: 'code';

}